.cf:before, .cf:after {content: " ";display: table;} .cf:after {clear: both;} .cf {*zoom: 1;}
body {
  font: 14px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #2B2B2B;
  background-color: #e7e7e7;
  padding:0;
  margin: 0;
  max-height: 100%;
}
  a {
    text-decoration: none;
    color: #883CFF;
  }

.container{
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

.branding {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #777777;
  font-size: 10px;
    z-index: 100;
}
  .branding a {
    color: #CD3F3F;
  }

div.logo {
  height:45px;
  width:179px;
  margin: 5px 5px 0 0;
  float:right;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALMAAAAtCAYAAADleFrAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MjZDMUI2NjVGODAxMTFFMEFGODBGRkUxMEM1ODdCOEIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MjZDMUI2NjZGODAxMTFFMEFGODBGRkUxMEM1ODdCOEIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyNkMxQjY2M0Y4MDExMUUwQUY4MEZGRTEwQzU4N0I4QiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyNkMxQjY2NEY4MDExMUUwQUY4MEZGRTEwQzU4N0I4QiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PvT9DNkAABslSURBVHja7F0JlFXFma77uvt10wt0Nw100yC7giSCOickLkncwKi4YcaNqDguGHUmHidOEmeimXgmJtFk1GgQoyJkgHGJ5kwiigiI8URBQzBqGAGlm73pfV/eu3e+776qR3X13d5TZ2BO1+Hn3le3tlv11V9//f9ft63uWxyRaYgJcTFy1eN2A387+MFSLCHOjFlimC3EcyKbkBAi50Qhcq8TR3xIJpPuNScnRyQSCRGLxVz6NMPLL78stm3bJuLxOMYgfBwty3Kvtm27xLYxH4ltU8/1oJfr9TxK8GqbXlaUtrN9qk+Znm3nO6g+ZshN2hm3bSSqvsexxAGUORu/+5wUwAsRd4ftiKMRT5AfzObF45eIwTAYsgqxJJCXCeHfTUlHTMOk+Cru57vxQDD+XYq4s0DjEHVrAv/12ZmTMzgmgyFbMJNTRyZHTLcd5x9AQtI/IX4kyilx7w/FL0Tama74EZW4NHdyDRwclMGQXchNZsAKIeXcieRlWtQxAOINVgqLx2jxI0AAvVgQWa7qESL/FEvEhg0OymDIEsx9diQQixxLzAFwL5BRraA80BDQbYBynoxvT4nPohB0ORC+AtfVURpiA8x5J7KiwUEZDFmC2YnGmYuA+W9JkBLd/woAjyX3BZVr6R4D7QbdD8oH3Q7Ovx7X3lAw2ylxI4OQJ+dZpmK2k9KbHFHBktPckpQwBDILITfsvZEmmWF/sdw8LU9fNm2XbbNSiggnYbQhJp8Htctm26kBCdJ85NoRXi1mibkA5dny5xa06jGUWYH7y0CjZPxHoEdQ3z48+zvcHwuituMS1LE8FMxORr1cCvqZnEjJTCYvaAfo2xnm+78OZfJ9S+Vv3m9QajVQRSKRuMu27fGI7wkAVXMsFtuSk5OzFvd/8WYq/Zbqk/r6+m5D+XHka4nH47cjX51XPqoffcKEZDJ5N8otR94u1P1jxL2t1GkI5/b29l4fMFHcyYv6d4LeZNtRXrMPmEMhVIwk3zlUsvXvsZhoRVwrAPhLQPBu+agGJW2n+tByxL24Xyrj78D976RoEgjmQ20PDYXo4AtBZVmwiW2gO44wzsz3vRhU4jKXWOw3Opg5Rj09PWcBFEeHcS8+ByDqAcyXCgoKfoioD1V6XpUuVwGxq6vrQgAxJy8vrxt5ONYDwMx8fmBGfRVo2wVo29Dc3FwHdS5H+re1vFM7Ozvn6mV5tVnqlntRxjaU8RDilpgTN0Y9cxABZDeAZhBsoPW4LFfaB9BixH0gn30JdFFf0l3/XsD9qzKeea+Joi3JQMxI4uW6Nc6UER0ugcAxOKH/XHecHq39CTXwktgftjKGkFi2FxF0AFZFe3v7/NbW1jeQ9lJVCbkljRNaH/XZqcC8XUGrWUB/s4w+2a4Ef3s89223Hod2x7u7u6c3NzcvwgR4BoCu1o0vwWKGJcZatrjhkNwi7kf1vZoGhCLFo6AHcF+A9DejvFcA6DaIJg8j2Zfl5vA63D+PdLt8OwMCQOub2FFiE2hF2ATqwMQAcNl8121DuJix83BSAEadXPr78mpa4xQYCMYhQ4asBwfbgnT52j4hH0AeD0DMguhQxPzguhRPnhiKgN+PKUsggaPqUmBCeZ/oHVmO37uqCY06WouKip6We6yYlr8UbT4eHP4YTka2HRNxLto1Euk5GWvCweyIqwBQpXJ7Ad33kodg+2tEXYPr8Xh2Buh8l3sjPdr+IvJTA/J53F8Jute3rrgQzeD7FVdYIrciegexL8BRluIFn/r/vFPXwaDJm/2eK7N5fn7+UxAJlpjgweBj7IuOBne7HWC4AnksAKQQnO7B8vLyfSj3dywbwBkAZkP8CJO1+4kIKj/bpt7DFG14hShzoLCw8Gbc9xplx/A+BO5ZbW1td2MSTpSAnoXHj2Iufh152mIJtMGHxuFyrRQV2nC/iP3lYUhpBP1CpiPLuxV5i5JssyUeQFyP3NzdhIqrpHgykPCfBb7avTf64MoOtPAiscNJfPgsOLSXmKT/1pdq9ofP0t8BQG0GYOYDvLcBEDaBBHAXtLS03Ev5Vuf6vBrlRmqfSWpCmEA2x5KTC89yPcrjQO8H515WVlZ2GkD9Gicu86Ddc9D+hWxrzJZrrknkthAnJlKkAK1Gca+kAZuKS1EK0Mtx/6aM+yIulydSMvc6/P6tjD8Kc3thUs9rEhLsW2xHHnytg6ywzj4SwBzUfp1DeqUznlPd5es4RMIm6gEA419UXsjQ08HxrmMe5bik+lj1swsY6ZCkkzmZvMgEswl0CU6legxyeqotLS2djwm5hfm4igDQ1+PZOE/fDOw2xuK6kD4XoG7bdn4S4rPBNPcnkyk/Dfy+FV1a4vps2M7PEN8ty1qAssfLe09y4pnJkGpwdXAf6WJENoBXwDDf38/TjekBiAeLi4tfU2ACoM9F/qFKzNDLDBIjFMj9npvA9uPMZnwAoHdDtLgHIpG7mcRmcArEpTNi5IY6JZIuR6VvRaXkwv+B9Bsj+G2sxmWdzHMc4i6Tmo2NoBUyfixN3GF+GpmAOahjDmdNRrac25Q3vUAXBAqpmlMAbMeSvVTJtViujwUopulqNp2r+gEVHD3t4urX9+aE8Gu7Vx36pFFqOqwe/4XVZTPzcPKhDafFzKUe6SaiyMvl7w6A71eBosEhot75CfUbZXwDv8sSKca5BHHN8hlFkEmecjoa3V0vROtmJ2swhy15RzKYwzQCSo4M4pAAa5oAXj76C0B4kIBFXDmAXgWADxADvCYI4whkVSfBrPyMTRFDtc1rzExRxiSWic1hesJI6sFG9y2Vj5qOmC4HS1n4cnDmCVLP/Dxl4QTiTbK96TfI84bMeyouZ0u5egPqWyXjpyDdxV75uW3pqhOifr0TaWD95LBsncgPdzHEi0N6yZ5Bhgc+Jycj9fb2Mq4BwGhSeXEdpvelrvM1y8LyngagrqtWTv/m/kZNCnPMdDD7hba2tn7U2ura4Pap98b7FJtec6NjlrhMtqMNtNRy/G2MHqETyR8HnSSTXEeAo8we/FiM+IukLpjxj+PaOMCQEAvXFqvO9JrlGZzmGIKOmCqkaxPyfWhaKX244BRleUQ7DoBqIlgdCZDxqG8crsNTOnvrAO5rMPDUe3d9kpVIB0yQBVBxZ0PsyKHqS6nOpHLJT0uSjlMc2YtxUCfNeE4WL42IKSqFaUv8xhTpc7S8Tj89M+o9B+D+nNQxv4bfrwiREZgZ/tNOOSDNAJ0GOhUixBoAej3KXONY4jzEHQ26BG1fPCB3HhC11RHdB7DjHmVFVgMFbUJMDicHYBI2PKuoeEc+q6SkZDaur/io/9IDD+51HwbyfNfGXFi4CEvdTQHVVYFjXI1BnYvrTLSzUA2YbG8jls+NKGMlfvOoWXs2YFYADpI7CVa8Lw0q6X6S8ZVYokdpokKDDlAdiIh3dNEiaAUkoNVK4AVmP7HQq+0UiYYNG9YvH9/hwIEDk5R8z77UfTPyALYbVd+hjF9aTpA9xTd0CloFhXhEYn4haI08I/gw2nueTMeTfkuE6VEXB7v+sxAt74NBj4pkNHHwIsmoHFkbAHKjGEBmSRNubgT9L1WAuYrj0AEnoKqzsQzfh4GYrgZJ1a2VWY6yzgY4zsZm5kpMDnomfhCiV+/H1UwxxKsfFCeljFxaWpoGGsWBlpaWWWhnibTy7UHa3QS9zoWl6MJ+tgksP8ONGTBJXVm3oaHBMWVmxYB0LZSXJobiEEUKtqmsrEw/91cBcWOWKhP9925azEA3z8HlBFnOG+CkrwQaB4PFWlr/buOSDPoqkp6I8t9BN7+BlWCd5NjHIf4cpHthQOcDVlZetGWXSyQAcQEGohK/h4SZs9EJu0GLPOaj7TdhtAngSAW++mH7+FxcC5A8SLOxxqnaMbB7UVaLnEjDMcCjcY2zjo6OjrPwexVWiPkAzetRVXNB2gy1xBPEytRNUPF3cXGxy5UPHjx4LQHDtJhM74Nzf8DJyji1OWN5AHFRfX3996VomBuRcfSi3irkLTZlZb/9jw5ktkNNHqmxSMmHWF0A8Muam5unMR8nDNq+Nn2gFXmvtg7Zwx+3k8G+qyH6hn2glSiPSvnhSPt1DPs7OZYrh690UmCm38A8mr0zLHsA0PBilMUvipIHL70VS9YiJ+WZE2qmjQBwE8jzmpqaHkbnFzANQNxTVFS0HNeV6HSsOaKJYEY5lQDWlzBgCwDk2SwTHPIoxC9B++Yi7wdBIo+fNkNxOyVaKACYp6EB7Fws0z8CmKdJLu2Ul5c/Td0tjSbc3OlgRjn5O3bsyOrcvHJe0m0Cpjlb15gojkwg66o5bYKevHfv3u9xUjJPRUXFJnDm113VHD3bAOqTpIqMXnCvZnR+z4NQxu9RVl0ipYeeg9/VfanyXwL9VdZ1eiIpjktI/bYibgC3LbNFX3u03X2Ql5hJpo42DCRBOlOPfFPAkSlaFEhfg2Ys6wvQ0ddjEFYjju6TZBL0gKvBIK/E5LoYaX7IJZx5AOyJANLdJvcL09UaGoGEkm29NsgAbGldXd2jAOc1yoo2YsSIdVgVlkpr4AAtidJ2ZEqmB5zXRlB7bqN9CbaHQPXSjyPJ6du3b1/W2NhYJbmyPXLkyF8gSZ170gSvfyayjZb5XgrybssgvIWi38SVm6WZuP8C6ngeVIv7NYibRu0JuTTi3u0vDGAT+BFeEkwlrzjcGgawbEcnHIiw/BVAjnvPBPQnNT2rJRzguRk0Xir1GwBSHl5Yo7ijT+jAsvl9cONWDNBPJZguxDudhMHbEGQ08Vs10JYiAMnCalCo9uqIzyOIAZKTAORv79+/f4aLegAOQN47ZsyYf6Q7phJF1DspsKE9ieHDh29y90SaR1uImJFEOSUQT04AQPP82q+JICx3KOrrBEgVki3cDwGDqEa/fKO2tvYmXAsU0MeNG/cY+m6pK/ODOxYj/iyZsRVJfh9JS2tFGXTxHJo9V6Y+l/JxjuUy7med1AaQMu75UqvRZcrNQXVonMMBR/kRXviJiLKcIzvTigIOPxnV3IChMyeAq56nNmGQSdfjvhc0Gx0fOPgAO5f2rQD1VohMUyF65IHOAYA26JvGKIYi1l9TU/NNTFr0t6N2HuT6QwDkidg0VZPzKdBiia6bPHnyAgB9MxMq+VrVqzgy+rdt4sSJlyLdrqgMQNZxPFar1QBghd8KqEQ9tG30hx9+uFKk/KbVkTgLZVRgtToazwtVX5BLT5ky5ZlRo0bdrvJTmzHZcsTJstz3UcLrzqcEZiR5EfXuwe0Y0ByUWwFx4yDrwO+/yg3nKYifhOt7/QbHUdKzFcaF2BmOdCzP6GxfNpZBTYvSb9AAkBngHpNUGsjN3FDPFtGP6NLPoEDbtJ0MMMeVtifMP0J/l3379h2Lso4N0uawv8CN35kwYcJNuN+kvnDEVUTXihgihqXqiqI14qTBajNADPKSmZkezGAIgH96mOwN5tU3adKk+7Gi8DhWj3on6pm/iKtazNfFrIiHFp1ISepR/mu4vVIC+m9Q7Srg06FMLcHMAfuK4wHmlp2QCypEqGMNva3IUagKClMZ6Ru4MIV90JJocmYM9FSlFeBzcNbiTCyRatOmNm6YGJNxP0SB2WsSeXmfmRsmEwyYIN1YlrdVVlYuB1d+GPnalPO9MnPrhhfDgSuqeOHmwQYzPT6matE0muh94FUeVgYHK9dBAPitqqqq+7DX2KA0Lmkwc+On8IOotZ/BKc9XJZgZTsUrrHLPCVpirWO72g4V/3A/MKMhf7o/Kb62IjfUV0FXQWGwfAFtnnHL1gHJFDMk1xmhJgkmVT06/6OoKiwvyxbEjno9v5/BwUubAbFhVVFR0VuIy9fWURtlcgO6tby8fCMmW5O+IdY1H35+E6aRJgjIkMldzkzNiGqblz5Z59rYYzRDlPkVua02cdj2TkyyWmz0/gTx7X200/ZaHXIR9Tl53zBgI+Y78w59hShCoCyWkAMz3VGtdMQ21E0RpBo0lWKQ0M6YkTPHCqKJCPqL+QHa47BmqJgRZK3yWLpjaoKhw9eCFmTKnfUiqd3AtdlLtgzS7vC9wXFXgJaZh0zZFnJLL/8NBWbjDKBpAezH+c3+UXI4xByhr1Jeq5/JmVk/mEBddXX1d/A7ab7bxx9/nJ4QvkaEpON+XothL0SM5rBexgZO9Cbdzw+InJh+qto3UNTYL8WMKr4z3ZzlrnivBPNwgJv+DvU6mIPK1pdXjw2VC2h1bs0LyB5gHVCQeYRIZdPFFDWIoHo1YADxCPzuRJpOfekPEi+UjKpbxoJUhF5xCjRoc1ypxqL4ODC+ubnZ0x8lSAzTN6cKyHv27BFqg+nVtiAGQYssysjH805zQkVZPbkBVD3tJCLsgzr7HNHRlwJzIfbKhblWKIdGWlVyzNjROdpSYpnmODvCcu+39BLQtBQRkH6z2ejkPBNMnAxcJjVuRNk87lUf0v633Aiy7mko83jk3ayWVs2HID1Arg+BdG1UKwnzMy5IPg7izPJdIy8HfDeuZn6TLoprKUkBmVY7nbv7bf58nvc7aZKp+MdPDbRI18zh4IRDfFw7XbGC6Rq7hehJENTYoHX7uoLqVMiyZR1N7HMaRvqSIo7fpTK+A9Suf+JAGlt8gynLeRk31FKn3BINasSzHuXczdO/+i5cdSSBpQiALcbAT9UGpYkGBv7G8y0Ab600TVd2dnZeKS2AQh1FYhm0rOkrhwZkyrcllpJZDC7qdbBU3zeYLrFRgSxPaQ+wzhn7Ad/jWkqU2L17d7/No9fmVJeZTaOJ14TJVETjkr9Lgq4S5U7wO/lBS2Fjl5OWmcmZCbimLid9KNUHzMeAiuR9ja3SCjESvyfI+FpQl5m3uy0z44XfRs3L4RthD2S0j1RHNzU1XY301WaZfKZMuxj0BW1tbeMk97bB+TcRoLKObUOHDn1Z5amrq7sBA3SOucTrJ5X1wUIdt4OzbcVEoE/HGdy8mRuloOU+m82s4srK2uZn7QzzE1dO/35lhIkZYR6Bqo4wcNOc/bY8AZIHOoMmZ5PaewnalKxsGRvBLnDpZjzr7O3PVRUBlKdrp1E28ShVXyr+y7JOxr/jtRJMnRfLSsRQnSA/eOJbRklJyXOqg1paWqbQxItOG2V2mixrHnboP1DcBUCuwWR4lepABVSA+aGioqJ90kutBOB8HPnmevkX6GMAIH8Xae9qaGgYXVNTcwvacifKLAiTmc3BVhukKBNc5eFEDQKJeZA2TP6Pejrby5ytqyfNkyb09gvTb/P7zOu15X0egBU3j0S192JTk3SE13swrjvhuLJ0Up5CSR+dclzx4kIlSqAudUaQ9V6R/mqSLVYPOEKFdBPnxCL5ZkT5epHXMwByGTpps1riDh48eC524q+CM96CLDMcGpQs6yvgXIuxm34SIkWJMtRUVFT8XBiHC/j9tsrKyu9RpGDbWltbK5HvaXDzRXhGMSZOa6C0CFK3/zUA+EUA+N8oi8sJdrCsrOxOzi9d1AjzIwk7va3SYML1m+wEs+lv4vWFoTAgRfnUgJco43eaxdygjhgxwhXNgtpBo8nbePU/0BIHmoX7eYmks0I7E+iKFHbwBs8VHdp6nLSWI8e9WtfjMl4m4/fmdvDr+Lkx61LEz5LxG9GvGzOxyWRySFUXNTxC08iRI78FID0LbjiCHADg4uefHgIg++hbgEDTco6+OayqqlqKibDYq0B+fGXs2LEjamtr7wF3jgMsBbt27boRE+Ua5PkYdeyl7/TOnTvH4/kYlJ3+5sewYcP2jxkz5moM3h+jvLMpBkTxAlQbWogzrgYjzA/c7wxgEMf32mR7ecyZRpmgMqQPTqC4kZvEJkakvkB0ijS9fhdpN4iUGfqThBNsx/l7ZapF9Uv4NQHcH4X4O9Nm3pRfxgD/ODv446uWdKxXGxDLryPIebjR8jOk4NkGgO8KyL4PNTY2TlUdS8cYIdLfnVYO4GL06NGPQJT4Z377zW/3D9Hjp+PHj98NLv8TTJIxLBPgyQfxmNZUc/PE9oHzvImJxRM6G72Wc3DRHO0TAJaxZ7AwKSzlJcf+CPrEAJ+xX5QKLUishizsWlc56axUGODNphyWfKx3MVUGr+gLS9db01GOz+SZxFiQJka1naKdWiH7WQAl134KF/5pHNrFPw96SFrturIEchWA+wjAWCX1RL/G75fQ7XFw7gfA8afLdGvRjqctH2u5E+CNVVhYWMeTHgBhEmDoDGoMOzrIzI0y1gBMZ0HkuArc6m8BOn7TLE9q48jNWrA8v47lfxHqehkdb4dxM+RZAUD/ESLGDeD2VwI8Y+nboOumUVYCYsUHw4cPfxTvswL5mnw4j01ZHPEJvAe937rkRFSqPXq0NQEsraiXn7LqCBMLmI+TM0gGpp4cYlMj3j0P5dfz28oml1b58R7edomcnB5M0gZWiZWHnzbokhNe6dc7qqurW9E3fajjgB3B8cNrA+m25ZGTu5WR4gs0NYtDHw9/DqD7JtLVOeKQAcPx8DeypOxspUSOKaAncaucl96jiyky9iGeHyO/WMbXIf15EEk2eXWnjY3lVb+Ni6KRlp+b01DN5NkhAj5oHuXEtuLgVJEBDEehc6upUeDH/PhtYAzifp6BU0umrn82VYbKaYeA5S4fZZUCODNRx3TesxzkP4C4LZDD38MAd+tH9D3+zBp/lMj3jsmVrJd/Om379u1sC5LHSpR3HtrQYX6vzU9LEBI4cYplH3LoW/3U/wFiSA7qclWOciVpl05V6nk+6iiSxiiGViGy+ztNuu/ARgB2oZM6NV2CbpuH62TQ3cLjNIjXi6N75qMVd2FTN07G0TOOcTPRdz/G5Jghm9nOL4Yi/Sa/Pgj5+DgftWSigooSJFekX8A2+R3nftqCKOfevMqkWRpgW4+y1uu7dN3qF1ZMyPtSrmjR1X+fUuC+oUmJQ1l+RCcpP3LuZ4mluNaTjZEkCMwMz9juX0cDB3Xcr7TTgZt/l+QPGNIViF8nTdDKTsqlmBu82ch0GZp5IvLFNW5JV0/Kx+civjDtA2KJG1Hec+5fmLL9QCAG/4xa5g5Kh22ZUW0CnyaYGZ4FjmpxfUCk3EOp7zwTnPRMubzxWYNc8vgHLsc6dLIf2Bbmu0YIEdeEg7eQ6VZyZF1e8JMjrEF8DoZPCGYhd9Rn8qv5uL8KNFOClfLTsRHLzhGHHNP/DGA+CXoCy0n7YLcPhv9NMLtiAsD3c3DpZU7qM7XcxPGPm1VLUCu5dYdMz1MWwyRDpYixC3fv4McaiBXUmzYOctrB8FmG/xFgAJuEbj8xldeOAAAAAElFTkSuQmCC);
}

header {
  padding: 20px 20px;
  color: #999;
  background: #2e2e2e;
  box-sizing: border-box;
  border-left: 5px solid #5613A8;
}
  .exc-title {
    margin: 0;
    color: #8F8D8D;
    font-weight:normal;
  }
    .exc-title-primary { color: #883CFF; }
    .exc-message {
      font-size: 32px;
      margin: 5px 0;
      word-wrap: break-word;
    }

.stack-container {
    height: 100%;
    position: relative;
}

.details-container {
  height: 100%;
  overflow: auto;
  float: right;
  width: 70%;
  background: #fff;
}
  .details {
    padding: 10px 20px;
    border-left: 5px solid rgba(0, 0, 0, .2);
  }

.frames-container {
  height: 100%;
  overflow: auto;
  float: left;
  width: 30%;
}
  .frame {
    padding: 14px;
    background: #F3F3F3;
    border-right: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size:12px;
  }
    .frame.active {
      background-color: #883CFF;
      color: #F3F3F3;

    }

    .frame:not(.active):hover {
      background: #DACDFD;
    }

    .frame-class, .frame-function, .frame-index {
      font-weight: bold;
    }

    .frame-index {
      font-size: 11px;
      color: #BDBDBD;
    }

    .frame-class {
      color: #883CFF;
    }
      .active .frame-class {
        color: #DCD2E7;
      }

    .frame-file {
      font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
      color:#999;
      word-wrap:break-word;
    }
      .editor-link {
        color: inherit;
      }
        .editor-link:hover strong {
          color: #E7DFF0;
        }

        .editor-link-callout {
          padding: 2px 4px;
          background: #4B0087;
        }

    .frame-line {
      font-weight: bold;
      color: #891BD3;
    }

    .active .frame-file{ color:#fff; }

    .active .frame-line { color: #fff; }
    .frame-line:before {
      content: ":";
    }

    .frame-code {
      padding: 20px;
      background: #f0f0f0;
      display: none;
      border-left: 5px solid #883CFF;
    }

    .frame-code.active {
      display: block;
    }

    .frame-code .frame-file {
      background: #883CFF;
      color: #fff;
      padding: 10px 10px 10px 10px;
      font-size:11px;
      font-weight:normal;
    }

    .code-block {
      padding: 10px;
      margin: 0;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }

    .linenums {
      margin: 0;
      margin-left: 10px;
    }

    .frame-comments {
      border-top: none;
      padding: 5px;
      font-size: 12px;
      background: #404040;
    }

    .frame-comments.empty {
      padding: 8px 15px;
    }

    .frame-comments.empty:before {
      content: "No comments for this stack frame.";
      color: #828282;
    }

    .frame-comment {
      padding: 10px 5px;
      color: #D2D2D2;
    }

    .frame-comment:not(:last-child) {
      border-bottom: 1px dotted rgba(0, 0, 0, .3);
    }

    .frame-comment-context {
      font-size: 10px;
      font-weight: bold;
      color: #CA86D2;
    }

.data-table-container label {
  font-size: 16px;
  font-weight: bold;
  color: #883CFF;
  margin: 10px 0;
  padding: 10px 0;

  display: block;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .08);
}
  .data-table {
    width: 100%;
    margin: 10px 0;
    font: 12px 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
  }

  .data-table thead {
    display: none;
  }

  .data-table tr {
    padding: 5px 0;
  }

  .data-table td:first-child {
    width: 20%;
    min-width: 130px;
    overflow: hidden;
    color: #463C54;
    padding-right: 5px;

  }

  .data-table td:last-child {
    width: 80%;
    color:#999;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .data-table .empty {
    color: rgba(0, 0, 0, .3);
    font-style: italic;
  }

.handler {
  padding: 10px;
  font: 14px monospace;
}

.handler.active {
  color: #BBBBBB;
  background: #989898;
  font-weight: bold;
}

/* prettify code style
Uses the Doxy theme as a base */
pre .str, code .str { color: #CD46E3; }  /* string  */
pre .kwd, code .kwd { color: #DB3BC5;  font-weight: bold; }  /* keyword*/
pre .com, code .com { color: #555; font-weight: bold; } /* comment */
pre .typ, code .typ { color: #fff; }  /* type  */
pre .lit, code .lit { color: #9054E6; }  /* literal */
pre .pun, code .pun { color: #9F93A1; font-weight: bold;  } /* punctuation  */
pre .pln, code .pln { color: #ccc; }  /* plaintext  */
pre .tag, code .tag { color: #963BDB; }  /* html/xml tag  */
pre .htm, code .htm { color: #DDA0DD; }  /* html tag */
pre .xsl, code .xsl { color: #D0A0D0; }  /* xslt tag */
pre .atn, code .atn { color: #fff; font-weight: normal;} /* html/xml attribute name */
pre .atv, code .atv { color: #E346C9; }  /* html/xml attribute value  */
pre .dec, code .dec { color: #fff; }  /* decimal  */
pre.prettyprint, code.prettyprint {
  font-weight:normal;
  font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
  background: #333333;
  color: #929292;
  font-size:11px;
  line-height:1.5em;
}
  pre.prettyprint {
    white-space: pre-wrap;
  }

  pre.prettyprint a, code.prettyprint a {
    text-decoration:none;
  }

  .linenums li {
    color: #A5A5A5;
  }

  .linenums li.current{
    background: rgba(255, 255, 255, .05);
    padding-top: 4px;
    padding-left: 1px;
  }
    .linenums li.current.active {
      background: rgba(255, 255, 255, .1);
    }
